.stateInput {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
  width: 200px;
  height: 30px;
  font-size: 18px;
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
}
