.stateList {
  overflow: scroll;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif;



  &__element {
    font-size: 18px;
    cursor: pointer;
 
  }
}

   .hidden {
     display: none;
  }
