.state-tags{
    background-color: white;
}
.tag{
    margin-left: 0.2rem;
    margin-right: 0.5rem;
    padding:0.1rem;
    background-color: rgb(236, 229, 229);
    border: 2px solid rgb(185, 183, 183);
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.9rem;
    color: rgb(89, 87, 87);
}