.stateList {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 250px;
  overflow: scroll;
  font-family: sans-serif;
  width: 235px;
  background-color: white;

  &__element {
    font-size: 18px;
    cursor: pointer;
  }

  &__element:hover {
    background-color: rgb(224, 238, 248);
  }
}

.hidden {
  display: none;
}
