.state-list {
  position: absolute;
  top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  height: 15.62rem;
  width: 100%;
  overflow-y: auto;
  font-family: sans-serif;
  background-color: white;

  &__element {
    cursor: pointer;
  }

  &__element:hover {
    background-color: rgb(224, 238, 248);
  }
}

.hidden {
  display: none;
}
