.stateButton {
  display: flex;
  align-items: center;
  height: 30px;
  font-size: 18px;
  text-align: left;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(73, 152, 255);
  cursor: pointer;
}
